* {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#body {
  min-height: 100vh;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 12px;
}
